#root {
  width: 100%;
}

.main {
  margin: 0 auto;
  padding: 0 0 0 30px;
  width: 1024px;
  display: inline-block;
}

/*************************
メディアクエリ設定 0〜1280
*************************/
@media screen and (min-width: 0px) and (max-width: 1280px) {
  .main {
    margin: 0 auto;
    padding: 0 0 0 30px;
    width: 1024px;
    display: inline-block;
  }
}

/************************
メディアクエリ設定 0〜768
************************/
@media screen and (min-width: 0px) and (max-width: 768px) {
  .main {
    margin: 0 auto;
    padding: 0;
    width: 95%;
    display: inline-block;
  }
}

/************************
メディアクエリ設定 0〜640
************************/
@media screen and (min-width: 0px) and (max-width: 640px) {
  .main {
    margin: 0 auto;
    padding: 0;
    width: 94%;
    display: inline-block;
  }
}

/************************
メディアクエリ設定 0〜480
************************/
@media screen and (min-width: 0px) and (max-width: 480px) {
  .main {
    margin: 0 auto;
    padding: 0;
    width: 93%;
    display: inline-block;
  }
}

/************************
メディアクエリ設定 0〜320
************************/
@media screen and (min-width: 0px) and (max-width: 320px) {
  .main {
    margin: 0 auto;
    padding: 0;
    width: 92%;
    display: inline-block;
  }
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}

.pic {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.search-box {
  top: 50%;
  left: 50%;
  width: 80%;
  background: #2f3640;
  height: 35px;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 40px;
}

.search-box:hover >.textBox> .search-txt {
  width: 95%;
  padding: 0 6px;
  border-radius: 35px
}

.search-btn {
  color: #FFF;
  float: right;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover .icon{
  color: #FFF;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background-color: #000;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}

.wholeapp {
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  width: 100%;
  right: 10px;
  bottom: 10px;
  text-align: center;

}
.btn--blue {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3b5998;
  overflow: hidden;
  position: relative;
}

.btn--blue i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn--blue:hover i {
  transform: scale(1.1);
  color: #f1f1f1;
}

.btn--blue::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3b5998;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn--blue:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.btn--lightblue {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #00BFFF;
  overflow: hidden;
  position: relative;
}

.btn--lightblue i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn--lightblue:hover i {
  transform: scale(1.1);
  color: #f1f1f1;
}

.btn--lightblue::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #00BFFF;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn--lightblue:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.btn--yellow {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #f9ca24;
  overflow: hidden;
  position: relative;

  .btn--yellow i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
}

.btn--yellow:hover i {
  transform: scale(1.1);
  color: #f1f1f1;
}

.btn--yellow::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #f9ca24;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn--yellow:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.btn--red {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #FF0000;
  overflow: hidden;
  position: relative;

  .btn--red i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
}

.btn--red:hover i {
  transform: scale(1.1);
  color: #f1f1f1;
}

.btn--red::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #FF0000;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn--red:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.fab fa-facebook-f {
  background: #4834d4;
}

.fab fa-twitter {
  background: #00BFFF;
}

.fab fa-slack {
  background: #f9ca24;
}

.fab fa-youtube {
  background: #FF0000;
}


@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.contents {
  display: flex;
  height: 500px;
  margin-top: 100px;


  item {
    float: left;
    width: 25%;
    padding: 5px;
    margin-right: 20px;


    p {
      font-size: 24px;
      margin-top: 30px;
    }
  }
}

.contents::after {
  content: "";
  clear: both;
  display: table;
}

.App{
  height: 1000px;
}

.form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
